
$dnipro-font-family: 'dnipro';
$dnipro-font-weight: 700;
$SegoeUI-font-famali: 'SegoeUI';
$SegoeUI-font-weight: 300;

$brand-color: #f6303e;
$light-color: #f6f6f6;
$text-color: #8da5ba;
$grey-color: #999999;