@mixin background($imgpath,$size,$position:0 0,$repeat: no-repeat) {
    background: {
        image: url('../img/' +$imgpath);
        size: $size;
        position: $position;
        repeat: $repeat;
    }
}